<a href="https://colab.research.google.com/github/Neamalinga/Python-Assignment/blob/main/PYTHON_ASSIGNMENT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello,World")

Hello,World

In [ ]:
##TAKE USER INPUT AND PRINT IT
abc=input("name")
print(abc)

namepriya
priya

In [ ]:
a=10
b=4
#after swaping
print(f"the value of a is {b},the value of b is {a}")

the value of a is 4,the value of b is 10

In [ ]:
#check if a number is even or odd
a =4
if a %2==0:
  print("even")
else:
  print("odd")

even

In [ ]:
#find the largest of two numbers
a=15
b=20
if a>b:
  print("a is greater")
else:
  print("b is greater")

b is greater

In [ ]:
#perform arthimetic operations (+,-,/,*,**)take any values as "a"and "b"
a=16
b=3
print(f"the sum of a and b is {a+b}")
print(f"the difference of a and b is {a-b}")
print(f"the product of a and b is {a*b}")
print(f"the division of a and b is {a/b}")
print(f"the power of a and b is {a**b}")

the sum of a and b is 19
the difference of a and b is 13
the product of a and b is 48
the division of a and b is 5.333333333333333
the power of a and b is 4096

In [ ]:
#caluculate the square and cube of a number
a=2
print(f"the square and cube of a is {a**2},{a**3}")

the square and cube of a is 4,8

In [ ]:
#convert celsius to farenheit F=(c*9/5)+32)
celsius = 30
fahrenheit = (celsius * 9/5) + 32
print(f"{celsius} degrees Celsius is equal to {fahrenheit} degrees Fahrenheit")

30 degrees Celsius is equal to 86.0 degrees Fahrenheit

In [ ]:
# convert kilometers into miles 1km=0.621371 miles
kilometrs=10
km=0.621371
miles = kilometrs * km
print(f"{kilometrs} kilometers is equal to {miles} miles")

10 kilometers is equal to 6.21371 miles

In [ ]:
# check if a number is postive ,negative or zero
a=-7
if a>0:
  print("a is  positive")
elif a<0:
  print(" a is negative")
else:
  print("a is  zero  ")

 a is negative

In [ ]:
# find the largest of three numbers
a=12
b=13
c=14
if a>b and a>c:
  print("a is largest")
elif b>a and b>c:
  print("b is largest")
else:
  print("c is largest")

c is largest

In [ ]:
# check a year is a leap year
year=2024
if year%4==0:
  print(" 2024 is a  leap year")
else:
  print(" 2024 is   not a leap year")

 2024 is a  leap year

In [ ]:
# if a character is a vowel or consonant
char = 'a'

if char.lower() in 'aeiou':
  print(f"{char} is a vowel")
else:
  print(f"{char} is a consonant")

a is a vowel

In [ ]:
# write a python programm to assign the grades to each subject based on the grade scale
scale:
student  subject  marks :
 maths=85
 science=78
 english=92
 grade scale:
   A: 90-100
   B: 80-89
   C: 70-79
   D: 60-69
   E: 50-59
   F: BELOW 50

In [ ]:
# write a python programm to assign the grades to each subject based on the grade scale
# student  subject  marks :
#  maths=85
#  science=78
#  english=92
#  grade scale:
#    A: 90-100
#    B: 80-89
#    C: 70-79
#    D: 60-69
#    E: 50-59
#    F: BELOW 50

maths = 85
science = 78
english = 92

Maths grade: B
Science grade: C
English grade: A

In [ ]:
# write a python programm to assign the grades to each subject based on the grade scale
# student  subject  marks :
#  maths=85
#  science=78
#  english=92
#  grade scale:
#    A: 90-100
#    B: 80-89
#    C: 70-79
#    D: 60-69
#    E: 50-59
#    F: BELOW 50

maths = 85
science = 78
english = 92

def assign_grade(marks):
  if 90 <= marks <= 100:
    return 'A'
  elif 80 <= marks <= 89:
    return 'B'
  elif 70 <= marks <= 79:
    return 'C'
  elif 60 <= marks <= 69:
    return 'D'
  elif 50 <= marks <= 59:
    return 'E'
  else:
    return 'F'

print(f"Maths grade: {assign_grade(maths)}")
print(f"Science grade: {assign_grade(science)}")
print(f"English grade: {assign_grade(english)}")

Maths grade: B
Science grade: C
English grade: A

In [ ]:
#writre a programm to check a number is divisible by both 5 and 11
a=55
if a%5==0 and a%11==0:
  print("a is divisible by both 5 and 11")
else:
  print("a is not divisible by both 5 and 11")

a is divisible by both 5 and 11

In [ ]:
# print numbers from 1 to the given number N
for i in range(1,35):
  print(i, end=" ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34

In [ ]:
#print the even numbers upto the given number N
for i in range(1,35):
  if i%2==0:
    print(i, end=" ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34

In [ ]:
# sum of first N natural numbers sum=n*(n+1/2)

In [ ]:
# sum of first N natural numbers sum=n*(n+1/2)

# Define the number N
n = 10

# Calculate the sum using the formula
sum_of_naturals = n * (n + 1) // 2

# Print the result
print(f"The sum of the first {n} natural numbers is: {sum_of_naturals}")

The sum of the first 10 natural numbers is: 55

In [ ]:
# calculate the factorial of a number (n!=n*(n-1)*.....*1)
Factorial=1
for i in range(1,6):
  Factorial=Factorial*i
print(Factorial)

120

In [ ]:
#print the multiplication of a number
for i in range(10):
  print(f"iterating value{2*i}")

iterating value0
iterating value2
iterating value4
iterating value6
iterating value8
iterating value10
iterating value12
iterating value14
iterating value16
iterating value18

In [ ]:
#write a programm to reverse a given (at least 2 ways)
my_string = "Hello, World!"
reversed_string = my_string[::-1]
print(reversed_string)

!dlroW ,olleH

In [ ]:
my_string="hello"
for i in range(len(my_string)-1,-1,-1):
  print(my_string[i],end="")

olleh

In [ ]:
#count the number of vowels in a string
Sen="people love food"
count = 0
for i in Sen:
  if i.lower() in "aeiou":
    count += 1
print(f"The number of vowels in the string is: {count}")

The number of vowels in the string is: 7

In [ ]:
#check if a string is a palindrome
my_string="madam"
reversed_string = my_string[::-1]
if my_string==reversed_string:
  print("palindrome")
else:
  print("not palindrome")

palindrome

In [ ]:
#covert the upper case to lower case and viceversa
my_string="MADAM"
lower_case_string = my_string.lower()
print(lower_case_string)

madam

In [ ]:
my_string="priya"
upper_case_string = my_string.upper()
print(upper_case_string)

PRIYA

In [ ]:
#find the length without using length function
my_string="PRIYA"
count=0
for i in my_string:
  count+=1
print(count)

5

In [ ]:
#find the largest element of a list
a=[1,2,3,4,5]
largest=a[0]
for i in a:
  if i>largest:
    largest=i
print(largest)

5

In [ ]:
# find the smallest element of a list
my_list = [1, 2, 3, 4, 5]
smallest = my_list[0]
for element in my_list:
  if element < smallest:
    smallest = element
print(f"The smallest element in the list is: {smallest}")

The smallest element in the list is: 1

In [ ]:
#find the sum of elements of a list
my_list = [1, 2, 3, 4, 5]
total = 0
for element in my_list:
  total += element
print(f"The sum of elements in the list is: {total}")

The sum of elements in the list is: 15

In [ ]:
#remove duplicates froma list
my_list = [1, 2, 2, 3, 4, 4, 5]
unique_list = []
for element in my_list:
  if element not in unique_list:
    unique_list.append(element)

In [ ]:
unique_list

[1, 2, 3, 4, 5]

In [ ]:
#sort a list in ascending order
my_list = [5, 2, 9, 1, 7]
sorted_list = sorted(my_list)
print(sorted_list)

[1, 2, 5, 7, 9]

In [ ]:
#find the maximum and minumum number of tuple
my_tuple = (5, 2, 9, 1, 7)
maximum = max(my_tuple)
minimum = min(my_tuple)
print(maximum)
print(minimum)

9
1

In [ ]:
#convert a tuple into list
my_tuple = (1, 2, 3, 4, 5)
my_list = list(my_tuple)
print(my_list)

[1, 2, 3, 4, 5]

In [ ]:
#count the occurences of an element in tuple
my_tuple = (1, 2, 3, 2, 4, 2, 5)
my_tuple.count(2)

3

In [ ]:
#find the index of an element in a tuple
my_tuple = (1, 2, 3, 4, 5)
my_tuple.index(3)

2

In [ ]:
#reverse a tuple
my_tuple = (1, 2, 3, 4, 5)
reversed_tuple = my_tuple[::-1]
print(reversed_tuple)

(5, 4, 3, 2, 1)

In [ ]:
#create an empty set
empty_set = set()
print(empty_set)

set()

In [ ]:
#perform union of two sets
a={1,2,3,4,5}
b={4,5,6,7,8}
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
#perform intersection of two sets
a={1,2,3,4,5}
b={4,5,6,7}
a.intersection(b)

{4, 5}

In [ ]:
#perform difference of two sets
a={1,2,3,4}
b={3,4}
a.difference(b)

{1, 2}

In [ ]:
#check if a set is a subset of other
a={1,2,3,4,5}
b={1,2,3}
a.issubset(b)

False

In [ ]:
#remove an element from a set
my_set = {1, 2, 3, 4, 5}
my_set.remove(3)
print(my_set)

{1, 2, 4, 5}

In [ ]:
#create a dictionary and print keys and values
my_dict = {'a': 1, 'b': 2, 'c': 3}
print(my_dict.keys())
print(my_dict.values())

dict_keys(['a', 'b', 'c'])
dict_values([1, 2, 3])

In [ ]:
#find the sum of dictionary values
my_dict = {'a': 1, 'b': 2, 'c': 3}
total = sum(my_dict.values())
print(total)

6

In [ ]:
#merge two dictionaries
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
merged_dict = {**dict1, **dict2}
print(merged_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [ ]:
# sort a dictionary by it values
my_dict = {'c': 3, 'a': 1, 'b': 2}
sorted_dict = dict(sorted(my_dict.items(), key=lambda item: item[1]))
print(sorted_dict)

{'a': 1, 'b': 2, 'c': 3}

In [ ]:
# count the occurences of elements in a dictionary
my_dict = {'a': 1, 'b': 2, 'c': 1, 'd': 3, 'e': 2, 'f': 1}
counts = {}
for value in my_dict.values():
  if value in counts:
    counts[value] += 1
  else:
    counts[value] = 1
print(counts)

{1: 3, 2: 2, 3: 1}

In [ ]:
#check whether a number is prime or not
num=int(input("enter a number:"))
if num>1:
  for i in range(2,num):
    if num %i==0:
      print(num,"is not a prime number")
      break
  else:
    print(num,"is a prime number")
else:
  print(num,"is not a prime number")

enter a number:5
5 is a prime number

In [ ]:
#find the sum of digits of a number
num = 12345
sum_of_digits = 0
for digit in str(num):
  sum_of_digits += int(digit)
print(sum_of_digits)

15

In [ ]:
#find the LCM of two numbers
import math

a = 12
b = 18

# Calculate GCD first, then use the formula: LCM(a, b) = (a * b) / GCD(a, b)
gcd = math.gcd(a, b)
lcm = (a * b) // gcd

print(f"The LCM of {a} and {b} is {lcm}")

The LCM of 12 and 18 is 36

In [ ]:
#find the gcd of two numbers
import math
a=12
b=18
gcd=math.gcd(a,b)
print(gcd)

6

In [ ]:
#define a function to return the sum of two numbers
def sum(a,b):
  return a+b

print(sum(1,2))

3

In [ ]:
#define a function that return the square root of a number
def square_root(num):
  return num**0.5

print(square_root(16))

4.0

In [ ]:
#define a function with default arguments
def greet(name, message="Hello"):
  print(f"{message}, {name}!")

greet("Alice")

Hello, Alice!

In [ ]:
#define a function with variable length arguments
def print_args(*args):
  for arg in args:
    print(arg)

print_args(1, "hello", True)

1
hello
True

In [ ]:
#define a function that return multiple values
def get_name_and_age():
  return "priya",30

name,age=get_name_and_age()
print(f"{name},{age}")

priya,30

In [ ]:
#use a lambda function to add two values
add=lambda x,y:x+y
print(add(1,2))

3

In [ ]:
#use a lamba to find the maximum value of two numbers
max=lambda x,y:y if y>x else x
print(max(1,2))

2

In [ ]:
#use a lambda function to square a number
square=lambda x:x**2
print(square(2))

4

In [ ]:
#use a lambda function inside map
abc=[1,2,3,4,5]
abc1=list(map(lambda x:x**2,abc))
print(abc1)

[1, 4, 9, 16, 25]

In [ ]:
#use a lambda function inside a filter
abc=[1,2,3,4,5]
abc1=list(filter(lambda x:x%2==0,abc))
print(abc1)

[2, 4]

In [ ]:
#list comprhensions
#generate a list of squares using list comprehensions
a=[num*num for num in range(10)]
print(a)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
#genarate a list of even numbers using list comprehensions
a=[num for num in range(10) if num%2==0]
print(a)

[0, 2, 4, 6, 8]

In [ ]:
#reverse a list using list comprehensions
a=[num for num in range(10)]
print(a[::-1])

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [ ]:
#flatten a nested list using list comprehension
a=[[1, 2, 3], [4, 5], [6, 7, 8, 9]]
flattened_list = [item for sublist in a for item in sublist]
print(flattened_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#find common elements in two list using two list compehensions
a=[1,2,3,4]
b=[3,4,5,6]
x=[element for element in a if element in b]
print(x)

[3, 4]

In [ ]:
#swap two numbers without using a third variable
a=12
b=13
print(f"the value of a is{b},the value of b is{a}")

the value of a is13,the value of b is12

In [ ]:
#find the second largest element in a list
a=[1,2,3,4,5,6,7]
for i in range(len(a)):
  for j in range(i+1,len(a)):
    if a[i]<a[j]:
      a[i],a[j]=a[j],a[i]
print(a[1])

6

In [ ]:
#check two strings are anargams
str1 = "listen"
str2 = "silent"

if sorted(str1) == sorted(str2):
  print(f"{str1} and {str2} are anagrams")
else:
  print(f"{str1} and {str2} are not anagrams")

listen and silent are anagrams

In [ ]:
#count the occurence of word in a sentence
sentence=input("enter a sentence:")
word_count={}
words=sentence.split()
for word in words:
  if word in word_count:
    word_count[word]+=1
  else:
    word_count[word]=1
print(word_count)

enter a sentence:i love data and i love python
{'i': 2, 'love': 2, 'data': 1, 'and': 1, 'python': 1}