<a href="https://colab.research.google.com/github/Neamalinga/Python-Assignment/blob/main/PYTHON_Assignment_Function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Write a function wish(name) that returns "Hello, Good Morning <name>!".

def wish(name):
    print(f"Hello,Good morning  {name}")

In [ ]:
wish('priya')

Hello,Good morning  priya

In [ ]:
#Write a function cube(n) that returns the cube of a number (n^3)
def cube(n):
  print(f"cube of {n} is {n**3}")

In [ ]:
cube(5)

cube of 5 is 125

In [ ]:
def  check_even(n):
  if n%2==0:
    print("true")
  else:
    print("false")

In [ ]:
check_even(5)

false

In [ ]:
#Write a function greatest_of_two(a, b) that returns the larger of two numbers.

def greatest_of_two(a,b):
  if a>b:
    print(f"{a} is greater")
  else:
    print(f"{b} is greater")

In [ ]:
greatest_of_two(90,100)

100 is greater

In [ ]:
#Write a function count_letters(s) that returns the number of characters in a string.

def count_letters(s):
  count=0
  for i in s:
    count+=1
    print(count)

In [ ]:
count_letters("priya")

1
2
3
4
5

In [ ]:
#Write a function power(value, exp=2) that returns the number raised to the power exp. (Default exponent = 2)

def power(value,exp=2):
  print(value**exp)

In [ ]:
power(5,2)

25

In [ ]:
#Write a function swap(a, b) that returns the two values swapped as a tuple.

def swap(a,b):
  print(f"after swapping a={b} and b={a}")
  return(b,a)

In [ ]:
swap(4,5)

after swapping a=5 and b=4

(5, 4)

In [ ]:
# Write a function add_sub(a, b) that returns both sum and difference of two numbers.

def add_sub(a,b):
  print(f"addition is {a+b},subtraction is {a-b}")

In [ ]:
add_sub(3,5)

addition is 8,subtraction is -2

In [ ]:
#Write a function circle_stats(radius) that returns the area and circumference as a tuple.

def circle_stats(radius):
  area=3.14*radius**2
  circumference=2*3.14*radius
  return(area,circumference)

In [ ]:
circle_stats(5)

(78.5, 31.400000000000002)

In [ ]:
#Write a function min_max_sum(nums) that returns the minimum, maximum, and sum of a list.

def min_max_sum(nums):
  minimum = min(nums)
  maximum = max(nums)
  total_sum = sum(nums)
  return (minimum, maximum, total_sum)

In [ ]:
min_max_sum([1,4,5])

(1, 5, 10)

In [ ]:
#Write a function concat(*parts) that joins multiple strings together with spaces.
def concat(*parts):
  return " ".join(parts)

In [ ]:
concat("i","love","food")

'i love food'

In [ ]:
#Write a function format_name(first, last="") that returns "Last, First" if last name is provided, else "First".
def format_name(first,last=""):
  if last:
    return f"{last}, {first}"
  else:
    return first

In [ ]:
format_name("early","sleep")

'sleep, early'

In [ ]:
#Write a function greet_user(first, last) that returns a message like "Welcome, First Last!".

def greet_user(first,last):
  print(f"welcome,{first} {last}")

In [ ]:
greet_user("goodmorning","everyone")

welcome,goodmorning everyone

In [ ]:
#Write a lambda function to add two numbers.

result=lambda x,y:x+y

In [ ]:
print(result(4,5))

9

In [ ]:
#Write a lambda function mult = lambda *args: that returns the product of all arguments.
def mult(*args):
  result=1
  for i in args:
    result*=i
  return result

In [ ]:
mult(1,2,3,4)

24

In [ ]:
#Write a one-line lambda expression to flatten a list of pairs like [(a,b), (c,d)] into [a, b, c, d].
flatten_list = lambda list_of_pairs: [item for pair in list_of_pairs for item in pair]

In [ ]:
#Write a recursive function factorial(n) that returns the factorial of a number.

def factorial(n):
  if n == 0:
    return 1
  else:
    return n * factorial(n-1)

In [ ]:
#Write a function apply_twice(func, x) that applies a function twice → func(func(x)).
def square(n):
  return n**2
def apply_twice(func,x):
  print(func(func(x)))

In [ ]:
apply_twice(square,5)

625

In [ ]:
#Write a function inner_demo() that defines and calls an inner function inside it.
def inner_demo():
  message="hello"
  def inner_function():
    print(message)
  inner_function()

In [ ]:
inner_demo()

hello

In [ ]:
#Write a function call_function(func, value) that takes another function as a parameter and applies it.
def call_function(func,value):
  print(func(value))

# Define a function to pass as an argument
def func(square):

In [ ]:

call_function(square,2)

4

In [ ]:
#Write a function square_list(nums) that defines a helper function square(x) inside it and returns a list of squares.
def square_list(nums):
  def square(x):
    return x**2
  return [square(x) for x in nums]

In [ ]:
square_list([1,2,3,4])

[1, 4, 9, 16]

In [ ]:
#Write a function make_multiplier(m) that returns a new function which multiplies input values by m.
def make_multiplier(m):
  def multiplier(value):
    return value * m
  return multiplier # This return statement needs to be inside make_multiplier

In [ ]:
make_multiplier(5)

In [ ]:
#write a function filter_primes(nums) that filters prime numbers using a helper is_prime() function
def filter_primes(nums):
  def is_prime(n):
    if n <= 1:
      return False
    for i in range(2, int(n**0.5) + 1):
      if n % i == 0:
        return False
    return True

  return [n for n in nums if is_prime(n)]

In [ ]:
#24.    Write a function convert_to_fahrenheit(celsius_list) using map and a lambda.
def convert_to_fahrenheit(celsius_list):
  return list(map(lambda celsius: (celsius * 9/5) + 32, celsius_list))

fahrenheit_list = convert_to_fahrenheit([10, 20, 30])
print(fahrenheit_list)

[50.0, 68.0, 86.0]

In [ ]:
#25.    Write a function apply_if(func, predicate, iterable) that applies a function only to items that pass a condition.
def apply_if(func, predicate, iterable):
  result = []
  for item in iterable:
    if predicate(item):
      result.append(func(item))
    else:
      result.append(item)
  return result

In [ ]:
#26.	Write a function curry(func) that converts a two-argument function into a curried version → can be called as f(a)(b).
def curry(func):
  def curried_func(a):
    def inner_func(b):
      return func(a, b)
    return inner_func
  return curried_func

In [ ]:
#27.	Write a function variadic_sum(*args, **kwargs) that sums all positional arguments and multiplies by a scale factor if provided.
def variadic_sum(*args, **kwargs):
  total = sum(args)
  scale_factor = kwargs.get('scale_factor', 1)
  return total * scale_factor

In [ ]:
#28.	Write a function sort_by_length(strings) that sorts a list of strings by their length using a lambda as key.
def sort_by_length(strings):
  return sorted(strings, key=lambda x: len(x))
  sorted_list=sort_by_length(["apple", "banana", "cherry", "date"])
  print(sorted_list)

In [ ]:
#29.	Create [1,2,3,4] → list of their squares.
a=[ 1,2,3,4]
b=[x**2 for x in a]
print(b)

[1, 4, 9, 16]

In [ ]:
#30.	Create ['a','b','c'] → list of their uppercase versions.
x=['a','b','c']
y=[i.upper() for i in x]
print(y)

['A', 'B', 'C']

In [ ]:
#31.    Make a list of even numbers from 1 to 20.
a=[i for i in range(1,21) if i%2==0]
print(a)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
#32.	Given words = ['apple', 'bee', 'cat'], create [(word, len(word)) for word in words].
a=['apple', 'bee', 'cat']
b=[(word,len(word)) for word in a]
print(b)

[('apple', 5), ('bee', 3), ('cat', 3)]

In [ ]:
#33.    Flatten [[1,2], [3,4], [5]] → [1,2,3,4,5].
a=[[1,2],[3,4],[5]]
flattened_list = [item for sublist in a for item in sublist]
print(flattened_list)

[1, 2, 3, 4, 5]

In [ ]:
#34.    From nums = [0,1,2,3], create a list of 'even' or 'odd' strings.
nums=[0,1,2,3]
result = ['even' if x % 2 == 0 else 'odd' for x in nums]
print(result)

['even', 'odd', 'even', 'odd']

In [ ]:
#35.    Using a comprehension, make a list of booleans showing if numbers in a list are prime (use helper function).
nums=[1,5,7,3,13,17,2,4]

# Define a helper function
def is_prime(n):
  if n <= 1:
    return False
  for i in range(2, int(n**0.5) + 1):
    if n % i == 0:
      return False
  return True

# Use a list comprehension to create the list of booleans
a = [True if is_prime(i) else False for i in nums]
print(a)

[False, True, True, True, True, True, True, False]

In [ ]:
#36.    From range(1,50), select numbers divisible by both 2 and 3.
a = [i for i in range(1, 50) if i % 2 == 0 and i % 3 == 0]
print(a)

[6, 12, 18, 24, 30, 36, 42, 48]

In [ ]:
#37.    Create coordinate pairs (i, j) where i and j go from 0 to 2.
a=[(i, j) for i in range(0, 3) for j in range(0, 3)]
print(a)

[(0, 0), (0, 1), (0, 2), (1, 0), (1, 1), (1, 2), (2, 0), (2, 1), (2, 2)]

In [ ]:
#38.    From ['a b','c d e'], produce a flat list of all words.
x = ['a b','c d e']
a = [word for string in x for word in string.split()]
print(a)

['a', 'b', 'c', 'd', 'e']

In [ ]:
#39.    Given students = [{'name':'A','score':80}, {'name':'B','score':60}], Create a list of names of students with score ≥ 75.
students = [{'name':'A','score':80}, {'name':'B','score':60}]
a = [student['name'] for student in students if student['score'] >= 75]
print(a)

['A']

In [ ]:
#40.    Build a list of dictionaries like {'n': n, 'square': n*n} for numbers 1 to 10.
list_of_dicts = [{'n': n, 'square': n*n} for n in range(1, 11)]
print(list_of_dicts)

[{'n': 1, 'square': 1}, {'n': 2, 'square': 4}, {'n': 3, 'square': 9}, {'n': 4, 'square': 16}, {'n': 5, 'square': 25}, {'n': 6, 'square': 36}, {'n': 7, 'square': 49}, {'n': 8, 'square': 64}, {'n': 9, 'square': 81}, {'n': 10, 'square': 100}]

In [ ]:
#41.	Merge two lists element-wise into tuples, but include only pairs where both elements are truthy.
a=[1,2,3,4,5,6]
b=[8,9,10,11,12,13]
c=list(zip(a,b))
print(c)

[(1, 8), (2, 9), (3, 10), (4, 11), (5, 12), (6, 13)]

In [ ]:
#42.    Create a comprehension to transpose a matrix (swap rows ↔ columns).
matrix = [[1, 2, 3], [4, 5, 6]]
transposed_matrix = [[row[i] for row in matrix] for i in range(len(matrix[0]))]
print(transposed_matrix)

[[1, 4], [2, 5], [3, 6]]

In [ ]:
#43.	Flatten a 3-level nested list [[[1,2],[3]],[[4]]] into a single flat list.
a=[[[1,2],[3]],[[4]]]
b=[item for sublist in a for sublist2 in sublist for item in sublist2]
print(b)

[1, 2, 3, 4]

In [ ]:
#.44.   Write a comprehension that keeps only unique items from a list while preserving order.
a=[1,1,3,4,5,2,4,7]

seen = set()
b = [x for x in a if not (x in seen or seen.add(x))]
print(b)

[1, 3, 4, 5, 2, 7]

In [ ]:
#45.    Find all indices (positions) where a given number appears in a list
given_num = 5
my_list = [1, 2, 5, 4, 2, 5, 5, 6]

# Using a list comprehension with enumerate to find all indices
indices = [index for index, value in enumerate(my_list) if value == given_num]
print(indices)

[2, 5, 6]

In [ ]:
#46.    Generate all palindromic numbers (as strings) between 1 and 999.
a=[str(num) for num in range(1,1000) if str(num) == str(num)[::-1]]
print(a)

['1', '2', '3', '4', '5', '6', '7', '8', '9', '11', '22', '33', '44', '55', '66', '77', '88', '99', '101', '111', '121', '131', '141', '151', '161', '171', '181', '191', '202', '212', '222', '232', '242', '252', '262', '272', '282', '292', '303', '313', '323', '333', '343', '353', '363', '373', '383', '393', '404', '414', '424', '434', '444', '454', '464', '474', '484', '494', '505', '515', '525', '535', '545', '555', '565', '575', '585', '595', '606', '616', '626', '636', '646', '656', '666', '676', '686', '696', '707', '717', '727', '737', '747', '757', '767', '777', '787', '797', '808', '818', '828', '838', '848', '858', '868', '878', '888', '898', '909', '919', '929', '939', '949', '959', '969', '979', '989', '999']

In [ ]:
#47.    Convert a dictionary like {'a':[1,2], 'b':[3]} into a list of (key, value) pairs.
x={'a':[1,2], 'b':[3]}
y=[(key, value) for key, value in x.items()]
print(y)

[('a', [1, 2]), ('b', [3])]

In [ ]:
#48.    Create a list of prime pairs (p, q) where both are primes under 100 and p + q is also prime.
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

prime_pairs = [(p, q) for p in range(2, 100) for q in range(2, 100) if is_prime(p) and is_prime(q) and is_prime(p + q)]
print(prime_pairs)

[(2, 3), (2, 5), (2, 11), (2, 17), (2, 29), (2, 41), (2, 59), (2, 71), (3, 2), (5, 2), (11, 2), (17, 2), (29, 2), (41, 2), (59, 2), (71, 2)]

In [ ]:
#50.    Generate all possible sequences of length 4 from 'abcd' with no repeated letters.
import itertools

a = "abcd"
b = list(itertools.permutations(a, 4))
print(b)

[('a', 'b', 'c', 'd'), ('a', 'b', 'd', 'c'), ('a', 'c', 'b', 'd'), ('a', 'c', 'd', 'b'), ('a', 'd', 'b', 'c'), ('a', 'd', 'c', 'b'), ('b', 'a', 'c', 'd'), ('b', 'a', 'd', 'c'), ('b', 'c', 'a', 'd'), ('b', 'c', 'd', 'a'), ('b', 'd', 'a', 'c'), ('b', 'd', 'c', 'a'), ('c', 'a', 'b', 'd'), ('c', 'a', 'd', 'b'), ('c', 'b', 'a', 'd'), ('c', 'b', 'd', 'a'), ('c', 'd', 'a', 'b'), ('c', 'd', 'b', 'a'), ('d', 'a', 'b', 'c'), ('d', 'a', 'c', 'b'), ('d', 'b', 'a', 'c'), ('d', 'b', 'c', 'a'), ('d', 'c', 'a', 'b'), ('d', 'c', 'b', 'a')]